<form class="filters" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      @for (type of typeList; track type.uid) {
        <mat-option [value]="type.uid">{{ type.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select formControlName="country">
      @for (country of countryList; track country.codeA2) {
        <mat-option [value]="country.codeA2">{{ country.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="actions">
    <button mat-button color="secondary">Apply filter</button>
    <button mat-button color="secondary" routerLink="/">Reset</button>
  </div>
</form>
